



body{
             display: flex;
            flex-direction: column;
            justify-self: center;

        }
        .main{
 font-family: Arial, sans-serif;
            border: 2px solid rgb(255, 255, 255);
            height: 50vh;
            width: 40vw;
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            align-items: center;
             box-shadow: 0px 0px 10px 1px grey;
             border-radius: 25px;
        }
        .info{
           font-family: Arial, sans-serif;
             display: flex;
            flex-direction: column;
            padding: 10px;
            margin: 10px;

        }
        
        button{
           font-family: Arial, sans-serif;
            padding: 10px;
            color: rgb(13, 13, 13);
            background-color: white;
            margin: 10px;
            width: 370px;
            height: 110px;
            font-size: 1.5em;
            box-shadow: 0px 0px 10px 1px grey;
            border: 0px;
            border-radius: 20px;
            transition: 0.2 ease-in-out;

        }
        button:hover{
            background-color: black;
            color: white;
            transition: 0.2 ease-in-out;
        }
        button:hover:active{
           font-family: Arial, sans-serif;
            transform: scale(0.9);
            transition: 0.6 ease-in-out;
        }
        .line{
           font-family: Arial, sans-serif;
            color:black ;
            font-size: 3em;
            

        }



 @media only screen and (max-width: 800px) {
    .main {
        width: 95vw;
        height: auto;
        padding: 20px;
        box-shadow: 0px 0px 8px 1px grey;
    }

    .line {
       font-family: Arial, sans-serif;
        font-size: 2em;
    }

    button {
       font-family: Arial, sans-serif;
        width: 80%;
        height: 80px;
        font-size: 1.2em;
    }
}




